@import url('https://fonts.googleapis.com/css?family=Montserrat:300,600');

body {
  background: #262626;
  color:#fff;
  font-family: 'Montserrat';
  margin:0;
  overflow: hidden;
}

img {
  /* margin-top:35px;
  margin-left: 20px; */
  padding: 32px;
  height: 100px;
  width: 100px;
}

.row {
  /* width:100%; */

  display: grid;
  grid-template-columns: 40% auto;
  align-items: center;
}